@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('Poppins-Regular.woff2') format('woff2'),
    url('Poppins-Regular.woff') format('woff'),
    url('Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Italic'), local('Poppins-Italic'),
    url('Poppins-Italic.woff2') format('woff2'),
    url('Poppins-Italic.woff') format('woff'),
    url('Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('Poppins-Bold.woff2') format('woff2'),
    url('Poppins-Bold.woff') format('woff'),
    url('Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold Italic'), local('Poppins-Bold-Italic'),
    url('Poppins-BoldItalic.woff2') format('woff2'),
    url('Poppins-BoldItalic.woff') format('woff'),
    url('Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Nocturne Serif';
    src: local('Nocturne Serif Black'), local('Nocturne-Serif-Black'),
    url('NocturneSerif-Black.woff2') format('woff2'),
    url('NocturneSerif-Black.woff') format('woff'),
    url('NocturneSerif-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
